extends layout

block head
  link(rel="stylesheet", href="./css/acceuil.css")

block content
    
    .formulaire
        h1 Renseigner vos informations 
        p <label for="budget">Votre budget ?</label> : <input type="text" name="budget" placeholder="Ex: 600" id="budget" required />
                    <input type="submit" name="Envoyer !">
        .date  
        p Vos dates de séjour ? 
        <label for="date">Du :</label>
            <select name="jour" id="jour">
                <option value="">--Jour--</option>
                <option value="dog">1</option>
                <option value="cat">2</option>
                <option value="hamster">3</option>
                <option value="parrot">4</option>
                <option value="spider">5</option>
                <option value="goldfish">6</option>
                <option value="dog">7</option>
                <option value="cat">8</option>
                <option value="hamster">9</option>
                <option value="parrot">10</option>
                <option value="spider">11</option>
                <option value="goldfish">12</option>
                <option value="dog">13</option>
                <option value="cat">14</option>
                <option value="hamster">15</option>
                <option value="parrot">16</option>
                <option value="spider">17</option>
                <option value="goldfish">18</option>
                <option value="dog">19</option>
                <option value="cat">20</option>
                <option value="hamster">21</option>
                <option value="parrot">22</option>
                <option value="spider">23</option>
                <option value="goldfish">24</option>
            </select>
            <select name="mois" id="mois">
                <option value="">--Mois--</option>
                <option value="dog">Janvier</option>
                <option value="cat">Février</option>
                <option value="hamster">Mars</option>
                <option value="parrot">Avril</option>
                <option value="spider">Mai</option>
                <option value="goldfish">Juin</option>
            </select>
            <select name="annee" id="annee">
                <option value="">--Annee--</option>
                <option value="dog">2020</option>
                <option value="cat">2021</option>
                <option value="hamster">2022</option>
            </select>
        <br>
        <label for="date">Au :</label>
            <select name="jour" id="jour">
                <option value="">--Jour--</option>
                <option value="dog">1</option>
                <option value="cat">2</option>
                <option value="hamster">3</option>
                <option value="parrot">4</option>
                <option value="spider">5</option>
                <option value="goldfish">6</option>
                <option value="dog">7</option>
                <option value="cat">8</option>
                <option value="hamster">9</option>
                <option value="parrot">10</option>
                <option value="spider">11</option>
                <option value="goldfish">12</option>
                <option value="dog">13</option>
                <option value="cat">14</option>
                <option value="hamster">15</option>
                <option value="parrot">16</option>
                <option value="spider">17</option>
                <option value="goldfish">18</option>
                <option value="dog">19</option>
                <option value="cat">20</option>
                <option value="hamster">21</option>
                <option value="parrot">22</option>
                <option value="spider">23</option>
                <option value="goldfish">24</option>
            </select>
            <select name="mois" id="mois">
                <option value="">--Mois--</option>
                <option value="dog">Janvier</option>
                <option value="cat">Février</option>
                <option value="hamster">Mars</option>
                <option value="parrot">Avril</option>
                <option value="spider">Mai</option>
                <option value="goldfish">Juin</option>
            </select>
            <select name="annee" id="annee">
                <option value="">--Annee--</option>
                <option value="dog">2020</option>
                <option value="cat">2021</option>
                <option value="hamster">2022</option>
            </select>

            .nombrepersonne

            <label for="date">Nombre de personnes :</label>
            <select name="personne" id="personne">
                <option value="">--Nombre de personnes--</option>
                <option value="dog">1</option>
                <option value="cat">2</option>
                <option value="hamster">3</option>
                <option value="parrot">4</option>
                <option value="spider">5</option>
                <option value="goldfish">6</option>
                <option value="dog">7</option>
                <option value="cat">8</option>
                <option value="hamster">9</option>
                <option value="parrot">10</option>
            </select>
            
            .envoie.clicable
                input(type="button", value="Envoyer")

           
                    
        


