extends layout

block head
  link(rel="stylesheet", href="../css/activite.css")

block content
    h1 Activitées autour de vous :
    .activite
    
      .activite1
        .nom
          h1 Les trois brasseurs
        .categotie
          p 
        .adresse
        