extends layout

block head
  link(rel="stylesheet", href="../css/activite.css")

block content
    h1 Activitées autour de vous :

    .activite
      each activite in activities
        .nom
          h1 #{activite.name}
        .categorie
          p #{activite.categorie}
        .adresse
          p #{activite.adresse}
        