extends layout

block head
  link(rel="stylesheet", href="../css/activity.css")

block content
    h1 Activitées autour de vous :

    .activite
      each activity in activities
        .nom
          h1= activity.name
        .categorie
          p= activity.category
        .adresse
          p= activity.address.street
