extends layout

block head
  link(rel="stylesheet", href="../css/flight.css")

block content
    h1 Les vols concernant votre destination :
    .vols
      .vol1
        .date
          p 16 Janvier 2020
        .compagnie
          p Rayanair
        .depart
          h1 16:15
          p Paris
        .tempsvol
          img(src="../img/tempsvol.png", alt="temps de vol")
          p 1:20
        .arrive
          h1 18:20
          p Bahamas
        .prix
          h1 26€

        

      .vol2


      .vol3

      .vol4