extends layout

block head
  link(rel="stylesheet", href="../css/hotel.css")

block content
    h1 La liste des Hôtels disponibles :

    .hotel1
        .name
          h1 name
        .emplacement
          p country <br> city <br> adresse          
        .classe
          h1 hotelclass
        .prix
          p 26€
        .photo
          img(src="", alt="") 
        .rating
          .stars
            .etoile.gold ☆
            .etoile ☆
            .etoile ☆
            .etoile ☆
            .etoile ☆
            
        