extends layout

block head
  link(rel="stylesheet", href="./css/animated-grid.css")

block content
  h1 Team Mixy
  section.animated-grid
    div.card.meteo
      h1 Météo
        p La météo de est de 20°C
        img(src="./img_meteo/soleil.png", alt="Soleil")
    div.card.restaurant
    div.card c
    div.card d
    div.card e
    div.card f
    div.card g
    div.card h
    div.card i
    div.card j
    div.card k
    div.card l
