extends layout

block head
  link(rel="stylesheet", href="./css/animated-grid.css")
  link(rel="stylesheet", href="./css/base.css")
  
block content
  h1 TEAM MIXY
  section.animated-grid
    script(src="./js/meteo.js")

    .card.meteo.clicable
      h1 Lille
      p 20°C
      

    .card.info.clicable
      h1 Ne pas oublier
      .check
        .visa
          input(type="checkbox" id="visa" name="visa")
          label(for="visa")    Visa

        .monnaie
          input(type="checkbox" id="monnaie" name="monnaie")
          label(for="monnaie")    Monnaie locale

        .vaccin
          input(type="checkbox" id="vaccin" name="vaccin")
          label(for="vaccin")    Vaccin

    .card.vol.clicable
      h1 Vol 
      h2 Prix moyen : 200€
      p Il y a 4 vols corresponsand à la destination
      
    .card.activite.clicable
      h1 Activitées disponibles sur place 
      .concert
        h2 Concerts
      .spectacle
        h2 Spectacles
      .accrobranche
        h2 Accrobranche
      .golf
        h2 Golf

    .card.resto
      h1 Les restaurants
      p Il y a 10 restaurants disponibles

    .card.hotel.clicable
      h1 Les hôtels
      h2 Le prix moyen : 150€
      p Il y a 25 hotels disponibles

    .card.phrase.clicable
      h1 Phrases type 
      p Bonjour : "Hello"
      p Merci : "Thank you"
      p Derien : "Your welcome"

    .card.transport 
      .bus
        h1 BUS
        h2 L'arrêt de bus le plus proche se situe à 100m de votre position
        p Un ticket de bus coûte 2€

      .metro
        h1 METRO
        h2 L'arrêt de métro le plus proche se situe à 550m de votre position
        p Un ticket de métro coûte 3,50€
 
      .taxi
        h1 TAXI
        h2 Un numero de Taxi local est 0633580611
        p Nombre de Taxi disponible : 3 
 

  
      


