extends layout

block head
  link(rel="stylesheet", href="./css/animated-grid.css")
  link(rel="stylesheet", href="./css/base.css")

block content
  h1 TEAM MIXY
  section.animated-grid

    .card.meteo.clicable(name="meteo")
      h1 Lille
      p 20°C


    .card.info
      h1 Ne pas oublier
      .check
        .visa
          input(type="checkbox" id="visa" name="visa")
          label(for="visa")    Visa

        .monnaie
          input(type="checkbox" id="monnaie" name="monnaie")
          label(for="monnaie")    Monnaie locale

        .vaccin
          input(type="checkbox" id="vaccin" name="vaccin")
          label(for="vaccin")    Vaccin

    .card.vol.clicable(name="vol")
      h1 Vol
      h2 Prix moyen : 200€
      p Il y a 4 vols corresponsand à la destination

    .card.activite
      h1 Activitées disponibles sur place
      .concert.clicable(name="concert")
        h2 Concerts
      .spectacle.clicable(name="spectacle")
        h2 Spectacles
      .accrobranche.clicable(name="accrobranche")
        h2 Accrobranche
      .golf.clicable(name="golf")
        h2 Golf

    .card.resto.clicable(name="restaurant")
      h1 Les restaurants
      p Il y a 10 restaurants disponibles

    .card.hotel.clicable(name="hotel")
      h1 Les hôtels
      h2 Le prix moyen : 150€
      p Il y a 25 hotels disponibles

    .card.phrase.clicable(name="phrase")
      h1 Phrases type
      p Bonjour : "Hello"
      p Merci : "Thank you"
      p Derien : "Your welcome"

    .card.transport.clicable(name="transport")
      .bus
        h1 BUS
        h2 L'arrêt de bus le plus proche se situe à 100m de votre position
        p Un ticket de bus coûte 2€

      .metro
        h1 METRO
        h2 L'arrêt de métro le plus proche se situe à 550m de votre position
        p Un ticket de métro coûte 3,50€

      .taxi
        h1 TAXI
        h2 Un numero de Taxi local est 0633580611
        p Nombre de Taxi disponible : 3

  script(src="./js/widget.js")






