extends layout

block head
  link(rel="stylesheet", href="./css/meteo.css")

block content
    h1 La Météo de la semaine :

    .meteo
      .image
      
      .temperature
        h1 temperature
      .temps
        h1 main
        p description

