extends layout 

block head
  link(rel="stylesheet", href="../css/phrase.css")
  back

block content
  .background
    h1 Phrases type :
    .phrase
      p Bonjour : "trad"
    .phrase
      p Au revoir : "trad"
    .phrase
      p Oui : "trad"
    .phrase
      p Non : "trad"

