extends layout

block head
  link(rel="stylesheet", href="../css/phrase.css")
  back

block content
  .background
    h1 Phrases type :
    .phrase
      p Bonjour : "Hello"
    .phrase
      p Au revoir : "Good bye"
    .phrase
      p Oui : "YES"
    .phrase
      p Non : "NO"
    .phrase
      p Pourriez-vous m’aider, s’il vous plaît ? : "COULD YOU HELP ME, PLEASE ?"
    .phrase
      p Pourriez-vous répéter, s’il vous plaît ? : "COULD YOU SAY THAT AGAIN, PLEASE ? "
    .phrase
      p Puis-je avoir le menu, s’il vous plaît ? : "CAN I HAVE THE MENU, PLEASE ?"


