extends layout

block head
  link(rel="stylesheet", href="../css/meteo.css")

block content
    h1 La Météo de la semaine à #{title} :

    .meteo.jour1
      .ville
        h1 Lille, 13 septembre 2019

      .temps
        h1 TEMPERATURE MIN : 20°C / TEMPERATURE MAX : 25°C
        p description : Temps majoritairement ensoleillé

    .meteo.jour2
      .ville
        h1 Lille, 14 septembre 2019

      .temps
        h1 TEMPERATURE MIN : 10°C / TEMPERATURE MAX : 20°C
        p description : Temps ensoleillé

    .meteo.jour3
       .ville
         h1 Lille, 15 septembre 2019

       .temps
         h1 TEMPERATURE MIN : 5°C / TEMPERATURE MAX : 12°C
         p description : Temps pluvieux

    .meteo.jour4
      .ville
          h1 Lille, 16 septembre 2019

      .temps
           h1 TEMPERATURE MIN : 10°C / TEMPERATURE MAX : 15°C
           p description : Temps nuageux

    .meteo.jour5
       .ville
          h1 Lille, 17 septembre 2019

       .temps
          h1 TEMPERATURE MIN : 20°C / TEMPERATURE MAX : 30°C
          p description : ensoleillé

    .meteo.jour6
        .ville
           h1 Lille, 18 septembre 2019

        .temps
           h1 TEMPERATURE MIN : 0°C / TEMPERATURE MAX : 10°C
           p description : Temps mitigé

    .meteo.jour7
      .ville
        h1 Lille, 19 septembre 2019

      .temps
        h1 TEMPERATURE MIN : 15°C / TEMPERATURE MAX : 25°C
        p description : Temps pluvieux

