.hotel{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border:1px solid white;
    border-radius: 20px;

    margin-bottom:10px;

    color: black;
    background-color: white;
}

.name{
    margin: inherit;
    padding-left: 20px;

    border:1px solid white;
    border-radius: 20px;
    background-color: teal;
}
.emplacement{
    grid-column: 1;
    margin-left: 30px;
}
.classe{
    text-align: center;
}
.classe h1{
    margin: inherit;
    padding-top: 10px;
}

.prix p{
    text-align: center;
    align-items: center;

    font-size: x-large;
}
.photo{
    font-size: medium;
}

.etoile {
color: gray;
cursor: pointer;
padding: 0.0625rem;
}

.gold {
	color: #ffdc0f;
}

.rating {
	display: flex;
	flex-direction: column;
    align-items: center;

    margin-top: 10px;
    padding-right: 15px;
}
.rating h1{
    font-size: medium;
    margin-bottom: 0px;
    padding-bottom: 0px;
 }

.stars {
	display: inline-flex;
	justify-content: center;
	font-size: 3em;
}

