

.resto1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border:1px solid white;
    border-radius: 30px;

    color: black;
    background-color: white;
    margin : 10px;
}

.nom{
    margin: inherit;
    padding-left: 40px;
}
.nom h1{
    border : 3px solid black;
    text-align: center;  
}
.adresse{
    text-align: center;
}
.note{
    grid-column: 1;
    text-align: center;
}

.catégorie {
    text-align : center;
}

.prix{
    text-align: center;
}
.photo{

}
.p{
    font-size : 1px;
}
.resto1 img {
    max-height : 200px;
    width: auto;
    align-items: center;
    padding-top : 1px;
    float: center;
}